<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club._8b1t.mapper.CustomerAddressMapper">

    <resultMap id="BaseResultMap" type="club._8b1t.model.entity.CustomerAddress">
            <id property="id" column="id" />
            <result property="customerId" column="customer_id" />
            <result property="receiverName" column="receiver_name" />
            <result property="phone" column="phone" />
            <result property="province" column="province" />
            <result property="city" column="city" />
            <result property="district" column="district" />
            <result property="detailAddress" column="detail_address" />
            <result property="tag" column="tag" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_id,receiver_name,phone,province,city,
        district,detail_address,tag,is_default,created_at,
        updated_at,is_deleted
    </sql>
</mapper>
