<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club._8b1t.mapper.MenuReviewMapper">

    <resultMap id="BaseResultMap" type="club._8b1t.model.entity.MenuReview">
            <id property="reviewId" column="review_id" />
            <result property="userId" column="user_id" />
            <result property="menuId" column="menu_id" />
            <result property="orderId" column="order_id" />
            <result property="content" column="content" />
            <result property="rating" column="rating" />
            <result property="images" column="images" />
            <result property="tasteRating" column="taste_rating" />
            <result property="appearanceRating" column="appearance_rating" />
            <result property="isAnonymous" column="is_anonymous" />
            <result property="likesCount" column="likes_count" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        review_id,user_id,menu_id,order_id,content,rating,
        images,taste_rating,appearance_rating,is_anonymous,likes_count,
        created_at,updated_at,is_deleted
    </sql>
</mapper>
