<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club._8b1t.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="club._8b1t.model.entity.OrderItem">
            <id property="id" column="id" />
            <result property="orderId" column="order_id" />
            <result property="menuId" column="menu_id" />
            <result property="menuName" column="menu_name" />
            <result property="quantity" column="quantity" />
            <result property="price" column="price" />
            <result property="totalPrice" column="total_price" />
            <result property="imageUrl" column="image_url" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,menu_id,menu_name,quantity,price,
        total_price,image_url,created_at,updated_at
    </sql>
</mapper>
